<!-- Profiles Section -->
<div class="grid-block row profile-panels">
  <% @profiles.each do |profile| %>
    <div class="grid-block column medium-3 panel">
      <div class="sign">
        <h1><%= link_to(profile.fullname, profile) %></h1>
      </div>
      <p><%= profile.description %></p>
    </div>
  <% end %>
</div>